@model TrackSzn.ViewModels.Meets.BulkCreateViewModel

@{
    ViewBag.Title = "Bulk Create Meets";
    ViewBag.Description = "Use this page to create meets in bulk.";
}

@using (Html.BeginForm("BulkCreate", "Meets", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Any())
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h3 class="alert-heading">Whoops.</h3>
            @Html.ValidationSummary(false, string.Empty, new { @class = "m-0" })
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <a class="btn btn-outline-info" href="#" id="addNew">Add New</a>
    <hr />
    <table class="table table-striped table-bordered" id="dataTable">
        <thead>
            <tr>
                <th class="w-50">Name</th>
                <th class="w-25">Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CreateViewModels.Count > 0)
            {
                for (int i = 0; i < Model.CreateViewModels.Count; i++)
                {
                    <tr>
                        <td>
                            @{
                                var j = i;
                            }
                            @Html.TextBoxFor(x => x.CreateViewModels[j].Name, new { @class = "form-control", placeholder = "Meet Name", autofocus = "autofocus", tabindex = 1 + i })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.CreateViewModels[j].Date, new { @class = "form-control", placeholder = "Meet Date", tabindex = 2 + i })
                        </td>
                        <td class="buttonCell">
                            @if (i > 0)
                            {
                                <a class="btn btn-outline-danger remove" href="#">Remove</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-outline-info">Save Bulk Data</button>
}

<hr />
@Html.ActionLink("Back to Meets", "Index", "Meets", null, new { @class = "btn btn-outline-primary" })

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#addNew").click(function(e) {
                e.preventDefault();
                var $table = $("#dataTable");
                var $lastRow = $table.find("tr:last");
                var $newRow = $lastRow.clone();
                $.each($newRow.find(":input"), function(index, item) {
                    $(item).val("");
                });

                var suffix = $newRow.find(':input:first').attr('name').match(/\d+/);
                $newRow.find("td:last").html('<a class="btn btn-outline-danger remove" href="#">Remove</a>');
                $.each($newRow.find(':input'), function () {
                    // Replaced Name
                    var oldName = $(this).attr('name');
                    var newName = oldName.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                    $(this).attr('name', newName);
                    //Replaced value
                    var type = $(this).attr('type');
                    if (type.toLowerCase() === "text") {
                        $(this).attr('value', '');
                    }

                });
                $lastRow.after($newRow);
            });

            // 2. Remove
            $('table.table tbody').on("click", "a.remove", function (e) {
                e.preventDefault();
                $(this).parent().parent().remove();
            });
        });
    </script>
}
