@model TrackSzn.ViewModels.Athletes.IndexViewModel

@{
    ViewBag.Title = "Athletes";
    ViewBag.Description = "Use this page to manage your athletes.";
}

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Graduation Year</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var athlete in Model.Athletes)
    {
        <tr>
            <td>@athlete.Id</td>
            <td>@athlete.Name</td>
            <td>@athlete.GraduationYear</td>
            <td>
                @Html.ActionLink("Edit", "EditExisting", "Athletes", new { id = athlete.Id }, new { @class = "btn btn-outline-info" })
                @Html.ActionLink("Delete", "DeleteExisting", "Athletes", new { id = athlete.Id }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }
    </tbody>
</table>
<hr />
@Html.ActionLink("Create New Athlete", "Create", "Athletes", null, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("Bulk Create Athletes", "BulkCreate", "Athletes", null, new { @class = "btn btn-outline-primary" })